/**
 * @author [townmi]
 * @date [2015-08-01]
 */

@import 'reset';


/**
 * body
 */
@include keyframes(to_article){
    0% {top: 150px;}
    100% {top: 0;}
}

@-webkit-keyframes close {
    0% {}
    100% {-webkit-transform: rotate(45deg);}
}
@-moz-keyframes close {
    0% {}
    100% {-moz-transform: rotate(45deg);}
}
@-ms-keyframes close {
    0% {}
    100% {-ms-transform: rotate(45deg);}
}
@keyframes close {
    0% {}
    100% {transform: rotate(45deg); }
}

@-webkit-keyframes close_before {
    0% {}
    100% {-webkit-transform: rotate(-90deg); margin-bottom: -30%; width: 100%;}
}
@-moz-keyframes close_before {
    0% {}
    100% {-moz-transform: rotate(-90deg); margin-bottom: -30%; width: 100%;}
}
@-ms-keyframes close_before {
    0% {}
    100% {-ms-transform: rotate(-90deg); margin-bottom: -30%; width: 100%;}
}
@keyframes close_before {
    0% {}
    100% {transform: rotate(-90deg); margin-bottom: -30%; width: 100%;}
}

@-webkit-keyframes close_from {
    0% {-webkit-transform: rotate(-45deg);}
    100% {}
}
@-moz-keyframes close_from {
    0% {-moz-transform: rotate(-45deg);}
    100% {}
}
@-ms-keyframes close_from {
    0% {-ms-transform: rotate(-45deg);}
    100% {}
}
@keyframes close_from {
    0% {transform: rotate(-45deg);}
    100% {}
}

@-webkit-keyframes close_before_from {
    0% {-webkit-transform: rotate(90deg); margin-bottom: -30%; width: 100%;}
    100% {}
}
@-moz-keyframes close_before_from {
    0% {-moz-transform: rotate(90deg); margin-bottom: -30%; width: 100%;}
    100% {}
}
@-ms-keyframes close_before_from {
    0% {-ms-transform: rotate(90deg); margin-bottom: -30%; width: 100%;}
    100% {}
}
@keyframes close_before_from {
    0% {transform: rotate(90deg); margin-bottom: -30%; width: 100%;}
    100% {}
}

@include keyframes(close_after){
    0% {opacity: 0;}
    100% {opacity: 0;}
}

@include keyframes(close_after_fromm){
    0% {opacity: 0;}
    98% {opacity: 0;}
    100% {opacity: 1;}
}


html, body{
    background: rgb(233, 233, 233);
    font: 100 14px/24px "Microsoft Yahei";
    font-family: Courier, "Microsoft Yahei";
}

input[type="text"]::-webkit-input-placeholder{
    color: #ffffff;
    opacity: 1;
}
input[type="text"]:-moz-placeholder{
    color: #ffffff;
    opacity: 1;
}
input[type="text"]::-moz-placeholder{
    color: #ffffff;
    opacity: 1;
}
input[type="text"]:-ms-input-placeholder{
    color: #ffffff;
    opacity: 1;
}

.background_blur #marsk{
    display: block;
}

#marsk{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    opacity: 0;
    display: none;
    background-color: rgba(0,0,0,0.6);
    @include transition(all, .5s ease-in-out);
}

#marsk.active {
    opacity: 1;
}

/**
 * link
 */
.ui_link{
    text-decoration: none;
}
.ui_link:hover{
    text-decoration: underline;
}


#container {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}
#canvas {
    width: 100%;
    height: 100%;
    position: relative;
}
/**
 * nav
 */
nav{
    width: 100%;
    height: 44px;
    position: fixed;
    z-index: 2;
    background-color: #3F51B5;
    .ui_title a.ui_index_target {
        font-size: 22px;
    }
}

#bars {
    width: 30px;
    height: 3px;
    display: block;
    position: relative;
    top: 50%;
    margin-top: -2px;
    background-color: #eeeeee;
    @include animation-duration(300ms);
    @include animation-timing-function(ease-in-out);
}
#bars:before, #bars:after {
    display: block;
    width: inherit;
    height: 3px;
    position: absolute;
    background: inherit;
    left: 0;
    content: '';
    @include animation-duration(300ms);
    @include animation-timing-function(ease-in-out);
}
#bars:before {
    bottom: 300%;
}
#bars:after {
    top: 300%;
}

/**
 * [arrow]
 */
#bars.to_arrow {
    @include animation-name(bars);
    @include animation-fill-mode(forwards);
}
#bars.to_arrow:before {
    @include animation-name(bars_before);
    @include animation-fill-mode(forwards);
}

#bars.to_arrow:after {
    @include animation-name(bars_after);
    @include animation-fill-mode(forwards);
}

#bars.from_arrow {
    @include animation-name(bars_from);
}
#bars.from_arrow:before {
    @include animation-name(bars_before_from);
}

#bars.from_arrow:after {
    @include animation-name(bars_after_fromm);
}


/**
 * [close]
 */
#bars.to_close {
    @include animation-name(close);
    @include animation-fill-mode(forwards);
}
#bars.to_close:before {
    @include animation-name(close_before);
    @include animation-fill-mode(forwards);
}

#bars.to_close:after {
    @include animation-name(close_after);
    @include animation-fill-mode(forwards);
}

#bars.from_close {
    @include animation-name(close_from);
}
#bars.from_close:before {
    @include animation-name(close_before_from);
}

#bars.from_close:after {
    @include animation-name(close_after_fromm);
}
/**
 * [ÎÄÕÂÅÅ°æ]
 */
.ui_article{
    position: relative;
    padding-bottom: 25px;
    margin-bottom: 25px;
    border-bottom: 1px solid #eee;
    font-weight: normal;
}
.ui_article_title h3{
    margin: 8px 0;
    line-height: 1.2;
    font-weight: 400;
    font-size: 24px;
}
.ui_article_title h3 a{
    text-decoration: none;
    color: #3F51B5;
}
.ui_article_tags{
    margin-bottom: 8px;
}
.ui_article_tags i{
    font-size: 14px;
}
.ui_article_tags span, .ui_article_tags a{
    margin: 0 4px;
    font-size: 14px;
}
.ui_article_tags span{
    color: #333333;
}
.ui_article_tags a, .ui_article_foot a{
    color: #3F51B5;
    text-decoration: none;
}
.ui_article_foot{
    padding-top: 20px;
    font-size: 16px;
}
/**
 * footer
 */
footer{
    width: 100%;
    position: relative;
    background: #565a5c;
    color: #bbb;
}
footer .author{
    display: inline-block;
    padding: 20px;
    color: #ffffff;
}
footer .copyright{
    display: inline-block;
    padding: 20px;
    color: #ffffff;
}
/**
 * [°´Å¥×é]
 */
.page_group{
    padding-top: 30px;
    .btn {
        display: inline-block;
        line-height: 28px;
        padding: 0 12px;
        border: 1px solid #eeeeee;
        background-color: #ffffff;
        color: #3F51B5;
    }
    a.active,.btn:hover {
        background-color: #3F51B5;
        color: #ffffff;
    }
    .btn:nth-child(1) {
        @include border-radius(3px 0 0 3px);
    }
    .btn:nth-last-child(1) {
        @include border-radius(0 3px 3px 0);
    }
    .disabled {
        background-color: #7A7A7A;
        color: #ffffff;
    }
    .disabled:hover {
        background-color: #7A7A7A;
    }
}

@import 'normal';

@import 'mobile';