@charset "UTF-8";
/**
 * @author [townmi]
 * @date [2015-08-01]
 */
/**
 * @author [townmi]
 */
html, body, ul, h1, h2, h3, h4, h5, h6, ol, p {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6, strong, i, em {
  font-weight: normal;
  font-style: normal; }

li {
  padding: 0;
  margin: 0;
  list-style: none; }

em {
  font-style: normal; }

body {
  font-family: "arial"; }

input, button, select, textarea {
  outline: none;
  padding: 0;
  border: none; }

textarea {
  resize: none; }

a {
  text-decoration: none; }

.clear:after {
  content: '';
  display: block;
  clear: both; }

.clear {
  zoom: 1; }

/**
 * [CODE STYLE]
 * Monokai Sublime style. Derived from Monokai by noformnocontent http://nn.mit-license.org/
 */
pre, code {
  margin-top: 0;
  margin-bottom: 0;
  padding: .6em;
  font: 14px Courier, "Liberation Mono", Menlo, monospace;
  background-color: #23241f;
  -moz-border-radius: 5px;
  /* Gecko browsers */
  -webkit-border-radius: 5px;
  /* Webkit browsers */
  -ms-border-radius: 5px;
  /* IE 9 */
  -o-border-radius: 5px;
  /* Opera */
  border-radius: 5px;
  overflow-x: auto; }

.prettyprint {
  padding: 1px 4px;
  color: #ffffff;
  background-color: #23241f; }

.hljs {
  display: inline-block;
  padding: 0.2em;
  background: #23241f;
  -webkit-text-size-adjust: none; }

.hljs,
.hljs-tag,
.css .hljs-rules,
.css .hljs-value,
.css .hljs-function
.hljs-preprocessor,
.hljs-pragma {
  color: #f8f8f2; }

.hljs-strongemphasis,
.hljs-strong,
.hljs-emphasis {
  color: #a8a8a2; }

.hljs-bullet,
.hljs-blockquote,
.hljs-horizontal_rule,
.hljs-number,
.hljs-regexp,
.alias .hljs-keyword,
.hljs-literal,
.hljs-hexcolor {
  color: #ae81ff; }

.hljs-tag .hljs-value,
.hljs-code,
.hljs-title,
.css .hljs-class,
.hljs-class .hljs-title:last-child {
  color: #a6e22e; }

.hljs-link_url {
  font-size: 80%; }

.hljs-strong,
.hljs-strongemphasis {
  font-weight: bold; }

.hljs-emphasis,
.hljs-strongemphasis,
.hljs-class .hljs-title:last-child {
  font-style: italic; }

.hljs-keyword,
.hljs-function,
.hljs-change,
.hljs-winutils,
.hljs-flow,
.nginx .hljs-title,
.tex .hljs-special,
.hljs-header,
.hljs-attribute,
.hljs-symbol,
.hljs-symbol .hljs-string,
.hljs-tag .hljs-title,
.hljs-value,
.alias .hljs-keyword:first-child,
.css .hljs-tag,
.css .unit,
.css .hljs-important {
  color: #f92672; }

.hljs-function .hljs-keyword,
.hljs-class .hljs-keyword:first-child,
.hljs-constant,
.css .hljs-attribute {
  color: #66d9ef; }

.hljs-variable,
.hljs-params,
.hljs-class .hljs-title {
  color: #f8f8f2; }

.hljs-string,
.css .hljs-id,
.hljs-subst,
.hljs-type,
.ruby .hljs-class .hljs-parent,
.hljs-built_in,
.django .hljs-template_tag,
.django .hljs-variable,
.smalltalk .hljs-class,
.django .hljs-filter .hljs-argument,
.smalltalk .hljs-localvars,
.smalltalk .hljs-array,
.hljs-attr_selector,
.hljs-pseudo,
.hljs-addition,
.hljs-stream,
.hljs-envvar,
.apache .hljs-tag,
.apache .hljs-cbracket,
.tex .hljs-command,
.hljs-prompt,
.hljs-link_label,
.hljs-link_url {
  color: #e6db74; }

.hljs-comment,
.hljs-javadoc,
.hljs-annotation,
.hljs-decorator,
.hljs-template_comment,
.hljs-pi,
.hljs-doctype,
.hljs-deletion,
.hljs-shebang,
.apache .hljs-sqbracket,
.tex .hljs-formula {
  color: #75715e; }

.coffeescript .javascript,
.javascript .xml,
.tex .hljs-formula,
.xml .javascript,
.xml .vbscript,
.xml .css,
.xml .hljs-cdata,
.xml .php,
.php .xml {
  opacity: 1; }

/**
 * body
 */
@-moz-keyframes to_article {
  0% {
    top: 150px; }
  100% {
    top: 0; } }
/* Gecko browsers */
@-webkit-keyframes to_article {
  0% {
    top: 150px; }
  100% {
    top: 0; } }
/* Webkit browsers */
@-ms-keyframes to_article {
  0% {
    top: 150px; }
  100% {
    top: 0; } }
/* IE 9 */
@-o-keyframes to_article {
  0% {
    top: 150px; }
  100% {
    top: 0; } }
/* Opera */
@keyframes to_article {
  0% {
    top: 150px; }
  100% {
    top: 0; } }
@-webkit-keyframes close {
  100% {
    -webkit-transform: rotate(45deg); } }
@-moz-keyframes close {
  100% {
    -moz-transform: rotate(45deg); } }
@-ms-keyframes close {
  100% {
    -ms-transform: rotate(45deg); } }
@keyframes close {
  100% {
    transform: rotate(45deg); } }
@-webkit-keyframes close_before {
  100% {
    -webkit-transform: rotate(-90deg);
    margin-bottom: -30%;
    width: 100%; } }
@-moz-keyframes close_before {
  100% {
    -moz-transform: rotate(-90deg);
    margin-bottom: -30%;
    width: 100%; } }
@-ms-keyframes close_before {
  100% {
    -ms-transform: rotate(-90deg);
    margin-bottom: -30%;
    width: 100%; } }
@keyframes close_before {
  100% {
    transform: rotate(-90deg);
    margin-bottom: -30%;
    width: 100%; } }
@-webkit-keyframes close_from {
  0% {
    -webkit-transform: rotate(-45deg); } }
@-moz-keyframes close_from {
  0% {
    -moz-transform: rotate(-45deg); } }
@-ms-keyframes close_from {
  0% {
    -ms-transform: rotate(-45deg); } }
@keyframes close_from {
  0% {
    transform: rotate(-45deg); } }
@-webkit-keyframes close_before_from {
  0% {
    -webkit-transform: rotate(90deg);
    margin-bottom: -30%;
    width: 100%; } }
@-moz-keyframes close_before_from {
  0% {
    -moz-transform: rotate(90deg);
    margin-bottom: -30%;
    width: 100%; } }
@-ms-keyframes close_before_from {
  0% {
    -ms-transform: rotate(90deg);
    margin-bottom: -30%;
    width: 100%; } }
@keyframes close_before_from {
  0% {
    transform: rotate(90deg);
    margin-bottom: -30%;
    width: 100%; } }
@-moz-keyframes close_after {
  0% {
    opacity: 0; }
  100% {
    opacity: 0; } }
/* Gecko browsers */
@-webkit-keyframes close_after {
  0% {
    opacity: 0; }
  100% {
    opacity: 0; } }
/* Webkit browsers */
@-ms-keyframes close_after {
  0% {
    opacity: 0; }
  100% {
    opacity: 0; } }
/* IE 9 */
@-o-keyframes close_after {
  0% {
    opacity: 0; }
  100% {
    opacity: 0; } }
/* Opera */
@keyframes close_after {
  0% {
    opacity: 0; }
  100% {
    opacity: 0; } }
@-moz-keyframes close_after_fromm {
  0% {
    opacity: 0; }
  98% {
    opacity: 0; }
  100% {
    opacity: 1; } }
/* Gecko browsers */
@-webkit-keyframes close_after_fromm {
  0% {
    opacity: 0; }
  98% {
    opacity: 0; }
  100% {
    opacity: 1; } }
/* Webkit browsers */
@-ms-keyframes close_after_fromm {
  0% {
    opacity: 0; }
  98% {
    opacity: 0; }
  100% {
    opacity: 1; } }
/* IE 9 */
@-o-keyframes close_after_fromm {
  0% {
    opacity: 0; }
  98% {
    opacity: 0; }
  100% {
    opacity: 1; } }
/* Opera */
@keyframes close_after_fromm {
  0% {
    opacity: 0; }
  98% {
    opacity: 0; }
  100% {
    opacity: 1; } }
html, body {
  background: #e9e9e9;
  font: 100 14px/24px "Microsoft Yahei";
  font-family: Courier, "Microsoft Yahei"; }

input[type="text"]::-webkit-input-placeholder {
  color: #ffffff;
  opacity: 1; }

input[type="text"]:-moz-placeholder {
  color: #ffffff;
  opacity: 1; }

input[type="text"]::-moz-placeholder {
  color: #ffffff;
  opacity: 1; }

input[type="text"]:-ms-input-placeholder {
  color: #ffffff;
  opacity: 1; }

.background_blur #marsk {
  display: block; }

#marsk {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  opacity: 0;
  display: none;
  background-color: rgba(0, 0, 0, 0.6);
  -moz-transition: all, 0.5s ease-in-out;
  /* Gecko browsers */
  -webkit-transition: all, 0.5s ease-in-out;
  /* Webkit browsers */
  -ms-transition: all, 0.5s ease-in-out;
  /* IE 9 */
  -o-transition: all, 0.5s ease-in-out;
  /* Opera */
  transition: all, 0.5s ease-in-out; }

#marsk.active {
  opacity: 1; }

/**
 * link
 */
.ui_link {
  text-decoration: none; }

.ui_link:hover {
  text-decoration: underline; }

#container {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden; }

#canvas {
  width: 100%;
  height: 100%;
  position: relative; }

/**
 * nav
 */
nav {
  width: 100%;
  height: 44px;
  position: fixed;
  z-index: 2;
  background-color: #3F51B5; }
  nav .ui_title a.ui_index_target {
    font-size: 22px; }

#bars {
  width: 30px;
  height: 3px;
  display: block;
  position: relative;
  top: 50%;
  margin-top: -2px;
  background-color: #eeeeee;
  -moz-animation-duration: 300ms;
  /* Gecko browsers */
  -webkit-animation-duration: 300ms;
  /* Webkit browsers */
  -ms-animation-duration: 300ms;
  /* IE 9 */
  -o-animation-duration: 300ms;
  /* Opera */
  animation-duration: 300ms;
  -moz-animation-timing-function: ease-in-out;
  /* Gecko browsers */
  -webkit-animation-timing-function: ease-in-out;
  /* Webkit browsers */
  -ms-animation-timing-function: ease-in-out;
  /* IE 9 */
  -o-animation-timing-function: ease-in-out;
  /* Opera */
  animation-timing-function: ease-in-out; }

#bars:before, #bars:after {
  display: block;
  width: inherit;
  height: 3px;
  position: absolute;
  background: inherit;
  left: 0;
  content: '';
  -moz-animation-duration: 300ms;
  /* Gecko browsers */
  -webkit-animation-duration: 300ms;
  /* Webkit browsers */
  -ms-animation-duration: 300ms;
  /* IE 9 */
  -o-animation-duration: 300ms;
  /* Opera */
  animation-duration: 300ms;
  -moz-animation-timing-function: ease-in-out;
  /* Gecko browsers */
  -webkit-animation-timing-function: ease-in-out;
  /* Webkit browsers */
  -ms-animation-timing-function: ease-in-out;
  /* IE 9 */
  -o-animation-timing-function: ease-in-out;
  /* Opera */
  animation-timing-function: ease-in-out; }

#bars:before {
  bottom: 300%; }

#bars:after {
  top: 300%; }

/**
 * [arrow]
 */
#bars.to_arrow {
  -moz-animation-name: bars;
  /* Gecko browsers */
  -webkit-animation-name: bars;
  /* Webkit browsers */
  -ms-animation-name: bars;
  /* IE 9 */
  -o-animation-name: bars;
  /* Opera */
  animation-name: bars;
  -moz-animation-fill-mode: forwards;
  /* Gecko browsers */
  -webkit-animation-fill-mode: forwards;
  /* Webkit browsers */
  -ms-animation-fill-mode: forwards;
  /* IE 9 */
  -o-animation-fill-mode: forwards;
  /* Opera */
  animation-fill-mode: forwards; }

#bars.to_arrow:before {
  -moz-animation-name: bars_before;
  /* Gecko browsers */
  -webkit-animation-name: bars_before;
  /* Webkit browsers */
  -ms-animation-name: bars_before;
  /* IE 9 */
  -o-animation-name: bars_before;
  /* Opera */
  animation-name: bars_before;
  -moz-animation-fill-mode: forwards;
  /* Gecko browsers */
  -webkit-animation-fill-mode: forwards;
  /* Webkit browsers */
  -ms-animation-fill-mode: forwards;
  /* IE 9 */
  -o-animation-fill-mode: forwards;
  /* Opera */
  animation-fill-mode: forwards; }

#bars.to_arrow:after {
  -moz-animation-name: bars_after;
  /* Gecko browsers */
  -webkit-animation-name: bars_after;
  /* Webkit browsers */
  -ms-animation-name: bars_after;
  /* IE 9 */
  -o-animation-name: bars_after;
  /* Opera */
  animation-name: bars_after;
  -moz-animation-fill-mode: forwards;
  /* Gecko browsers */
  -webkit-animation-fill-mode: forwards;
  /* Webkit browsers */
  -ms-animation-fill-mode: forwards;
  /* IE 9 */
  -o-animation-fill-mode: forwards;
  /* Opera */
  animation-fill-mode: forwards; }

#bars.from_arrow {
  -moz-animation-name: bars_from;
  /* Gecko browsers */
  -webkit-animation-name: bars_from;
  /* Webkit browsers */
  -ms-animation-name: bars_from;
  /* IE 9 */
  -o-animation-name: bars_from;
  /* Opera */
  animation-name: bars_from; }

#bars.from_arrow:before {
  -moz-animation-name: bars_before_from;
  /* Gecko browsers */
  -webkit-animation-name: bars_before_from;
  /* Webkit browsers */
  -ms-animation-name: bars_before_from;
  /* IE 9 */
  -o-animation-name: bars_before_from;
  /* Opera */
  animation-name: bars_before_from; }

#bars.from_arrow:after {
  -moz-animation-name: bars_after_fromm;
  /* Gecko browsers */
  -webkit-animation-name: bars_after_fromm;
  /* Webkit browsers */
  -ms-animation-name: bars_after_fromm;
  /* IE 9 */
  -o-animation-name: bars_after_fromm;
  /* Opera */
  animation-name: bars_after_fromm; }

/**
 * [close]
 */
#bars.to_close {
  -moz-animation-name: close;
  /* Gecko browsers */
  -webkit-animation-name: close;
  /* Webkit browsers */
  -ms-animation-name: close;
  /* IE 9 */
  -o-animation-name: close;
  /* Opera */
  animation-name: close;
  -moz-animation-fill-mode: forwards;
  /* Gecko browsers */
  -webkit-animation-fill-mode: forwards;
  /* Webkit browsers */
  -ms-animation-fill-mode: forwards;
  /* IE 9 */
  -o-animation-fill-mode: forwards;
  /* Opera */
  animation-fill-mode: forwards; }

#bars.to_close:before {
  -moz-animation-name: close_before;
  /* Gecko browsers */
  -webkit-animation-name: close_before;
  /* Webkit browsers */
  -ms-animation-name: close_before;
  /* IE 9 */
  -o-animation-name: close_before;
  /* Opera */
  animation-name: close_before;
  -moz-animation-fill-mode: forwards;
  /* Gecko browsers */
  -webkit-animation-fill-mode: forwards;
  /* Webkit browsers */
  -ms-animation-fill-mode: forwards;
  /* IE 9 */
  -o-animation-fill-mode: forwards;
  /* Opera */
  animation-fill-mode: forwards; }

#bars.to_close:after {
  -moz-animation-name: close_after;
  /* Gecko browsers */
  -webkit-animation-name: close_after;
  /* Webkit browsers */
  -ms-animation-name: close_after;
  /* IE 9 */
  -o-animation-name: close_after;
  /* Opera */
  animation-name: close_after;
  -moz-animation-fill-mode: forwards;
  /* Gecko browsers */
  -webkit-animation-fill-mode: forwards;
  /* Webkit browsers */
  -ms-animation-fill-mode: forwards;
  /* IE 9 */
  -o-animation-fill-mode: forwards;
  /* Opera */
  animation-fill-mode: forwards; }

#bars.from_close {
  -moz-animation-name: close_from;
  /* Gecko browsers */
  -webkit-animation-name: close_from;
  /* Webkit browsers */
  -ms-animation-name: close_from;
  /* IE 9 */
  -o-animation-name: close_from;
  /* Opera */
  animation-name: close_from; }

#bars.from_close:before {
  -moz-animation-name: close_before_from;
  /* Gecko browsers */
  -webkit-animation-name: close_before_from;
  /* Webkit browsers */
  -ms-animation-name: close_before_from;
  /* IE 9 */
  -o-animation-name: close_before_from;
  /* Opera */
  animation-name: close_before_from; }

#bars.from_close:after {
  -moz-animation-name: close_after_fromm;
  /* Gecko browsers */
  -webkit-animation-name: close_after_fromm;
  /* Webkit browsers */
  -ms-animation-name: close_after_fromm;
  /* IE 9 */
  -o-animation-name: close_after_fromm;
  /* Opera */
  animation-name: close_after_fromm; }

/**
 * [文章排版]
 */
.ui_article {
  position: relative;
  padding-bottom: 25px;
  margin-bottom: 25px;
  border-bottom: 1px solid #eee;
  font-weight: normal; }

.ui_article_title h3 {
  margin: 8px 0;
  line-height: 1.2;
  font-weight: 400;
  font-size: 24px; }

.ui_article_title h3 a {
  text-decoration: none;
  color: #3F51B5; }

.ui_article_tags {
  margin-bottom: 8px; }

.ui_article_tags i {
  font-size: 14px; }

.ui_article_tags span, .ui_article_tags a {
  margin: 0 4px;
  font-size: 14px; }

.ui_article_tags span {
  color: #333333; }

.ui_article_tags a, .ui_article_foot a {
  color: #3F51B5;
  text-decoration: none; }

.ui_article_foot {
  padding-top: 20px;
  font-size: 16px; }

/**
 * footer
 */
footer {
  width: 100%;
  position: relative;
  background: #565a5c;
  color: #bbb; }

footer .author {
  display: inline-block;
  padding: 20px;
  color: #ffffff; }

footer .copyright {
  display: inline-block;
  padding: 20px;
  color: #ffffff; }

/**
 * [按钮组]
 */
.page_group {
  padding-top: 30px; }
  .page_group .btn {
    display: inline-block;
    line-height: 28px;
    padding: 0 12px;
    border: 1px solid #eeeeee;
    background-color: #ffffff;
    color: #3F51B5; }
  .page_group a.active, .page_group .btn:hover {
    background-color: #3F51B5;
    color: #ffffff; }
  .page_group .btn:nth-child(1) {
    -moz-border-radius: 3px 0 0 3px;
    /* Gecko browsers */
    -webkit-border-radius: 3px 0 0 3px;
    /* Webkit browsers */
    -ms-border-radius: 3px 0 0 3px;
    /* IE 9 */
    -o-border-radius: 3px 0 0 3px;
    /* Opera */
    border-radius: 3px 0 0 3px; }
  .page_group .btn:nth-last-child(1) {
    -moz-border-radius: 0 3px 3px 0;
    /* Gecko browsers */
    -webkit-border-radius: 0 3px 3px 0;
    /* Webkit browsers */
    -ms-border-radius: 0 3px 3px 0;
    /* IE 9 */
    -o-border-radius: 0 3px 3px 0;
    /* Opera */
    border-radius: 0 3px 3px 0; }
  .page_group .disabled {
    background-color: #7A7A7A;
    color: #ffffff; }
  .page_group .disabled:hover {
    background-color: #7A7A7A; }

/**
 * [PC and PAD]
 * @param  {[type]} min-width: 880px   [description]
 * @return {[type]}            [description]
 */
@media screen and (min-width: 880px) {
  @-webkit-keyframes bars {
    100% {
      -webkit-transform: rotate(45deg); } }
  @-moz-keyframes bars {
    100% {
      -moz-transform: rotate(45deg); } }
  @-ms-keyframes bars {
    100% {
      -ms-transform: rotate(45deg); } }
  @keyframes bars {
    100% {
      transform: rotate(45deg); } }
  @-webkit-keyframes bars_before {
    100% {
      -webkit-transform: rotate(-90deg);
      margin-bottom: -30%;
      width: 100%; } }
  @-moz-keyframes bars_before {
    100% {
      -moz-transform: rotate(-90deg);
      margin-bottom: -30%;
      width: 100%; } }
  @-ms-keyframes bars_before {
    100% {
      -ms-transform: rotate(-90deg);
      margin-bottom: -30%;
      width: 100%; } }
  @keyframes bars_before {
    100% {
      transform: rotate(-90deg);
      margin-bottom: -30%;
      width: 100%; } }
  @-webkit-keyframes bars_from {
    0% {
      -webkit-transform: rotate(-45deg); } }
  @-moz-keyframes bars_from {
    0% {
      -moz-transform: rotate(-45deg); } }
  @-ms-keyframes bars_from {
    0% {
      -ms-transform: rotate(-45deg); } }
  @keyframes bars_from {
    0% {
      transform: rotate(-45deg); } }
  @-webkit-keyframes bars_before_from {
    0% {
      -webkit-transform: rotate(90deg);
      margin-bottom: -30%;
      width: 100%; } }
  @-moz-keyframes bars_before_from {
    0% {
      -moz-transform: rotate(90deg);
      margin-bottom: -30%;
      width: 100%; } }
  @-ms-keyframes bars_before_from {
    0% {
      -ms-transform: rotate(90deg);
      margin-bottom: -30%;
      width: 100%; } }
  @keyframes bars_before_from {
    0% {
      transform: rotate(90deg);
      margin-bottom: -30%;
      width: 100%; } }
  @-moz-keyframes bars_after {
    0% {
      opacity: 0; }
    100% {
      opacity: 0; } }
  /* Gecko browsers */
  @-webkit-keyframes bars_after {
    0% {
      opacity: 0; }
    100% {
      opacity: 0; } }
  /* Webkit browsers */
  @-ms-keyframes bars_after {
    0% {
      opacity: 0; }
    100% {
      opacity: 0; } }
  /* IE 9 */
  @-o-keyframes bars_after {
    0% {
      opacity: 0; }
    100% {
      opacity: 0; } }
  /* Opera */
  @keyframes bars_after {
    0% {
      opacity: 0; }
    100% {
      opacity: 0; } }
  @-moz-keyframes bars_after_fromm {
    0% {
      opacity: 0; }
    98% {
      opacity: 0; }
    100% {
      opacity: 1; } }
  /* Gecko browsers */
  @-webkit-keyframes bars_after_fromm {
    0% {
      opacity: 0; }
    98% {
      opacity: 0; }
    100% {
      opacity: 1; } }
  /* Webkit browsers */
  @-ms-keyframes bars_after_fromm {
    0% {
      opacity: 0; }
    98% {
      opacity: 0; }
    100% {
      opacity: 1; } }
  /* IE 9 */
  @-o-keyframes bars_after_fromm {
    0% {
      opacity: 0; }
    98% {
      opacity: 0; }
    100% {
      opacity: 1; } }
  /* Opera */
  @keyframes bars_after_fromm {
    0% {
      opacity: 0; }
    98% {
      opacity: 0; }
    100% {
      opacity: 1; } }
  /**
   * ui_content
   */
  .ui_content {
    width: 1200px;
    margin: 0 auto; }

  /**
   * container
   */
  nav .ui_title {
    width: 1200px;
    height: 100%;
    position: absolute;
    right: 50%;
    margin-right: -600px;
    overflow: hidden;
    -moz-box-sizing: border-box;
    /* Gecko browsers */
    -webkit-box-sizing: border-box;
    /* Webkit browsers */
    -ms-box-sizing: border-box;
    /* IE 9 */
    -o-box-sizing: border-box;
    /* Opera */
    box-sizing: border-box; }
    nav .ui_title span {
      line-height: 44px;
      color: #ffffff; }
    nav .ui_title a {
      line-height: 44px;
      font-size: 26px;
      font-weight: 100;
      color: #ffffff; }

  .search_group {
    padding-right: 45px;
    position: absolute;
    top: 0;
    right: 0; }
    .search_group .ui_search_input {
      width: 0;
      height: 42px;
      border: none;
      font: 100 20px/42px "Microsoft Yahei";
      border-bottom: 2px solid #eeeeee;
      color: #ffffff;
      vertical-align: top;
      background-color: #3F51B5;
      -moz-transition: all, 0.5s ease-in-out;
      /* Gecko browsers */
      -webkit-transition: all, 0.5s ease-in-out;
      /* Webkit browsers */
      -ms-transition: all, 0.5s ease-in-out;
      /* IE 9 */
      -o-transition: all, 0.5s ease-in-out;
      /* Opera */
      transition: all, 0.5s ease-in-out; }
    .search_group .ui_search_input.active {
      width: 910px; }

  #nav {
    width: 100%;
    height: 300px;
    position: absolute;
    left: 0;
    top: -300px;
    z-index: 2;
    background: #313848;
    overflow-y: auto;
    -moz-box-sizing: border-box;
    /* Gecko browsers */
    -webkit-box-sizing: border-box;
    /* Webkit browsers */
    -ms-box-sizing: border-box;
    /* IE 9 */
    -o-box-sizing: border-box;
    /* Opera */
    box-sizing: border-box;
    -moz-transition: 0.5s cubic-bezier(1, 0.02, 0.38, 0.82) all;
    /* Gecko browsers */
    -webkit-transition: 0.5s cubic-bezier(1, 0.02, 0.38, 0.82) all;
    /* Webkit browsers */
    -ms-transition: 0.5s cubic-bezier(1, 0.02, 0.38, 0.82) all;
    /* IE 9 */
    -o-transition: 0.5s cubic-bezier(1, 0.02, 0.38, 0.82) all;
    /* Opera */
    transition: 0.5s cubic-bezier(1, 0.02, 0.38, 0.82) all; }

  #container.display_nav #nav {
    top: 0;
    -moz-transform: translateY(44px);
    /* Gecko browsers */
    -webkit-transform: translateY(44px);
    /* Webkit browsers */
    -ms-transform: translateY(44px);
    /* IE 9 */
    -o-transform: translateY(44px);
    /* Opera */
    transform: translateY(44px); }

  .toggle_nav {
    height: 38px;
    position: absolute;
    left: 50%;
    top: 3px;
    z-index: 3;
    margin-left: 570px;
    cursor: pointer; }

  /**
   * side--nav
   */
  #nav {
    padding: 20px 0 0 40px; }

  .ui_nav_block {
    width: 300px;
    position: absolute;
    right: 50%;
    margin-right: 300px; }
    .ui_nav_block h2 {
      padding: 0 0 10px 0;
      font: 100 24px/30px "Microsoft Yahei";
      color: #f5f5f5; }

  .ui_nav_block:nth-child(1) {
    margin-right: 0; }

  .ui_nav_block:nth-child(2) {
    margin-right: -300px; }

  .ui_nav_category {
    height: 230px;
    overflow-y: auto; }
    .ui_nav_category li {
      width: 150px;
      float: left; }
    .ui_nav_category .ui_link {
      padding: 2px;
      color: #f5f5f5; }

  .ui_share {
    width: 220px;
    position: absolute;
    top: 0;
    left: 50%;
    padding-top: 40px;
    margin-left: 400px;
    color: #ffffff; }
    .ui_share p {
      font-size: 16px; }

  .ui_share_link {
    color: #ffffff;
    font-size: 24px; }

  /**
   * content
   */
  .content {
    height: inherit;
    padding: 88px 0;
    overflow-y: auto;
    -moz-box-sizing: border-box;
    /* Gecko browsers */
    -webkit-box-sizing: border-box;
    /* Webkit browsers */
    -ms-box-sizing: border-box;
    /* IE 9 */
    -o-box-sizing: border-box;
    /* Opera */
    box-sizing: border-box; }

  /**
   * ui_article_list
   */
  .ui_article_list {
    min-height: 650px;
    position: relative;
    padding: 50px;
    background-color: #ffffff;
    -moz-box-shadow: -2px 0 5px #B3B3B3, 0 -2px 5px #B3B3B3, 0 2px 5px #B3B3B3, 2px 0 5px #B3B3B3;
    /* Gecko browsers */
    -webkit-box-shadow: -2px 0 5px #B3B3B3, 0 -2px 5px #B3B3B3, 0 2px 5px #B3B3B3, 2px 0 5px #B3B3B3;
    /* Webkit browsers */
    -ms-box-shadow: -2px 0 5px #B3B3B3, 0 -2px 5px #B3B3B3, 0 2px 5px #B3B3B3, 2px 0 5px #B3B3B3;
    /* IE 9 */
    -o-box-shadow: -2px 0 5px #B3B3B3, 0 -2px 5px #B3B3B3, 0 2px 5px #B3B3B3, 2px 0 5px #B3B3B3;
    /* Opera */
    box-shadow: -2px 0 5px #B3B3B3, 0 -2px 5px #B3B3B3, 0 2px 5px #B3B3B3, 2px 0 5px #B3B3B3;
    -moz-animation-duration: 600ms;
    /* Gecko browsers */
    -webkit-animation-duration: 600ms;
    /* Webkit browsers */
    -ms-animation-duration: 600ms;
    /* IE 9 */
    -o-animation-duration: 600ms;
    /* Opera */
    animation-duration: 600ms;
    -moz-animation-timing-function: ease-in-out;
    /* Gecko browsers */
    -webkit-animation-timing-function: ease-in-out;
    /* Webkit browsers */
    -ms-animation-timing-function: ease-in-out;
    /* IE 9 */
    -o-animation-timing-function: ease-in-out;
    /* Opera */
    animation-timing-function: ease-in-out;
    -moz-animation-name: to_article;
    /* Gecko browsers */
    -webkit-animation-name: to_article;
    /* Webkit browsers */
    -ms-animation-name: to_article;
    /* IE 9 */
    -o-animation-name: to_article;
    /* Opera */
    animation-name: to_article; } }
/**
 * [MOBILE]
 * @param  {[type]} max-width: 880px  [description]
 * @return {[type]}            [description]
 */
@media screen and (max-width: 880px) {
  @-webkit-keyframes bars {
    100% {
      -webkit-transform: rotate(180deg); } }
  @-moz-keyframes bars {
    100% {
      -moz-transform: rotate(180deg); } }
  @-ms-keyframes bars {
    100% {
      -ms-transform: rotate(180deg); } }
  @keyframes bars {
    100% {
      transform: rotate(180deg); } }
  @-webkit-keyframes bars_before {
    100% {
      -webkit-transform: rotate(45deg);
      margin: -7% 37%;
      width: 75%; } }
  @-moz-keyframes bars_before {
    100% {
      -moz-transform: rotate(45deg);
      margin: -7% 37%;
      width: 75%; } }
  @-ms-keyframes bars_before {
    100% {
      -ms-transform: rotate(45deg);
      margin: -7% 37%;
      width: 75%; } }
  @keyframes bars_before {
    100% {
      transform: rotate(45deg);
      margin: -7% 37%;
      width: 75%; } }
  @-webkit-keyframes bars_after {
    100% {
      -webkit-transform: rotate(-45deg);
      margin: -7% 37%;
      width: 75%; } }
  @-moz-keyframes bars_after {
    100% {
      -moz-transform: rotate(-45deg);
      margin: -7% 37%;
      width: 75%; } }
  @-ms-keyframes bars_after {
    100% {
      -ms-transform: rotate(-45deg);
      margin: -7% 37%;
      width: 75%; } }
  @keyframes bars_after {
    100% {
      transform: rotate(-45deg);
      margin: -7% 37%;
      width: 75%; } }
  @-webkit-keyframes bars_from {
    0% {
      -webkit-transform: rotate(-180deg); } }
  @-moz-keyframes bars_from {
    0% {
      -moz-transform: rotate(-180deg); } }
  @-ms-keyframes bars_from {
    0% {
      -ms-transform: rotate(-180deg); } }
  @keyframes bars_from {
    0% {
      transform: rotate(-180deg); } }
  @-webkit-keyframes bars_before_from {
    0% {
      -webkit-transform: rotate(45deg);
      margin: -7% 37%;
      width: 75%; } }
  @-moz-keyframes bars_before_from {
    0% {
      -moz-transform: rotate(45deg);
      margin: -7% 37%;
      width: 75%; } }
  @-ms-keyframes bars_before_from {
    0% {
      -ms-transform: rotate(45deg);
      margin: -7% 37%;
      width: 75%; } }
  @keyframes bars_before_from {
    0% {
      transform: rotate(45deg);
      margin: -7% 37%;
      width: 75%; } }
  @-webkit-keyframes bars_after_fromm {
    0% {
      -webkit-transform: rotate(-45deg);
      margin: -7% 37%;
      width: 75%; } }
  @-moz-keyframes bars_after_fromm {
    0% {
      -moz-transform: rotate(-45deg);
      margin: -7% 37%;
      width: 75%; } }
  @-ms-keyframes bars_after_fromm {
    0% {
      -ms-transform: rotate(-45deg);
      margin: -7% 37%;
      width: 75%; } }
  @keyframes bars_after_fromm {
    0% {
      transform: rotate(-45deg);
      margin: -7% 37%;
      width: 75%; } }
  /**
   * ui_content
   */
  .ui_content {
    width: 94%;
    margin: 0 auto; }

  nav .ui_title {
    width: 100%;
    height: 100%;
    padding-right: 12px;
    position: absolute;
    right: 0;
    text-align: right;
    overflow: hidden;
    -moz-box-sizing: border-box;
    /* Gecko browsers */
    -webkit-box-sizing: border-box;
    /* Webkit browsers */
    -ms-box-sizing: border-box;
    /* IE 9 */
    -o-box-sizing: border-box;
    /* Opera */
    box-sizing: border-box; }
    nav .ui_title a {
      font-size: 26px;
      color: #ffffff;
      line-height: 44px; }
    nav .ui_title span {
      display: none; }

  .search_group {
    padding-left: 45px;
    padding-right: 55px;
    position: absolute;
    top: 0;
    right: 0; }
    .search_group .ui_search_btn {
      position: absolute;
      right: 12px; }
    .search_group .ui_search_input {
      width: 0;
      height: 44px;
      border: none;
      font: 100 20px/44px "Microsoft Yahei";
      color: #ffffff;
      vertical-align: top;
      background-color: #3F51B5;
      -moz-transition: all, 0.5s ease-in-out;
      /* Gecko browsers */
      -webkit-transition: all, 0.5s ease-in-out;
      /* Webkit browsers */
      -ms-transition: all, 0.5s ease-in-out;
      /* IE 9 */
      -o-transition: all, 0.5s ease-in-out;
      /* Opera */
      transition: all, 0.5s ease-in-out; }
    .search_group .ui_search_input.active {
      width: 90%; }

  #marsk {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    display: none;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.7);
    -moz-transition: all, ease-in-out, 0.6s;
    /* Gecko browsers */
    -webkit-transition: all, ease-in-out, 0.6s;
    /* Webkit browsers */
    -ms-transition: all, ease-in-out, 0.6s;
    /* IE 9 */
    -o-transition: all, ease-in-out, 0.6s;
    /* Opera */
    transition: all, ease-in-out, 0.6s; }

  #canvas {
    -moz-transform: translateX(0);
    /* Gecko browsers */
    -webkit-transform: translateX(0);
    /* Webkit browsers */
    -ms-transform: translateX(0);
    /* IE 9 */
    -o-transform: translateX(0);
    /* Opera */
    transform: translateX(0);
    -moz-transition: 0.5s ease all;
    /* Gecko browsers */
    -webkit-transition: 0.5s ease all;
    /* Webkit browsers */
    -ms-transition: 0.5s ease all;
    /* IE 9 */
    -o-transition: 0.5s ease all;
    /* Opera */
    transition: 0.5s ease all; }

  #nav {
    width: 200px;
    height: 100%;
    position: absolute;
    left: -200px;
    top: 0;
    overflow-y: auto;
    background: #313848;
    -moz-box-sizing: border-box;
    /* Gecko browsers */
    -webkit-box-sizing: border-box;
    /* Webkit browsers */
    -ms-box-sizing: border-box;
    /* IE 9 */
    -o-box-sizing: border-box;
    /* Opera */
    box-sizing: border-box;
    -moz-transform: rotateY(-90deg);
    /* Gecko browsers */
    -webkit-transform: rotateY(-90deg);
    /* Webkit browsers */
    -ms-transform: rotateY(-90deg);
    /* IE 9 */
    -o-transform: rotateY(-90deg);
    /* Opera */
    transform: rotateY(-90deg);
    -moz-transition: 0.5s ease all;
    /* Gecko browsers */
    -webkit-transition: 0.5s ease all;
    /* Webkit browsers */
    -ms-transition: 0.5s ease all;
    /* IE 9 */
    -o-transition: 0.5s ease all;
    /* Opera */
    transition: 0.5s ease all; }

  #container.display_nav #canvas {
    -moz-transform: translateX(200px);
    /* Gecko browsers */
    -webkit-transform: translateX(200px);
    /* Webkit browsers */
    -ms-transform: translateX(200px);
    /* IE 9 */
    -o-transform: translateX(200px);
    /* Opera */
    transform: translateX(200px); }

  #container.display_nav #nav {
    -moz-transform-origin: 100% 50%;
    /* Gecko browsers */
    -webkit-transform-origin: 100% 50%;
    /* Webkit browsers */
    -ms-transform-origin: 100% 50%;
    /* IE 9 */
    -o-transform-origin: 100% 50%;
    /* Opera */
    transform-origin: 100% 50%;
    -moz-transform: perspective(600px) rotateY(0deg);
    /* Gecko browsers */
    -webkit-transform: perspective(600px) rotateY(0deg);
    /* Webkit browsers */
    -ms-transform: perspective(600px) rotateY(0deg);
    /* IE 9 */
    -o-transform: perspective(600px) rotateY(0deg);
    /* Opera */
    transform: perspective(600px) rotateY(0deg); }

  .toggle_nav {
    height: 38px;
    position: absolute;
    left: 20px;
    top: 3px;
    z-index: 3;
    cursor: pointer; }

  /**
   * side--nav
   */
  #nav {
    padding: 20px 0 0 25px; }

  #nav h2 {
    padding: 0 0 10px 0;
    font: 100 24px/30px "Microsoft Yahei";
    color: #f5f5f5; }

  #nav li .ui_link {
    padding: 2px;
    color: #f5f5f5;
    font-weight: normal; }

  #nav li .ui_link:hover {
    /*color: #333;*/ }

  #nav_category {
    min-height: 65vh; }

  .ui_share {
    color: #ffffff; }
    .ui_share p {
      padding-bottom: 15px;
      font-size: 16px; }

  .ui_share_link {
    color: #ffffff;
    font-size: 22px;
    margin-right: 5px; }

  /**
   * content
   */
  .content {
    height: inherit;
    padding: 77px 0 66px 0;
    overflow-y: auto;
    -moz-box-sizing: border-box;
    /* Gecko browsers */
    -webkit-box-sizing: border-box;
    /* Webkit browsers */
    -ms-box-sizing: border-box;
    /* IE 9 */
    -o-box-sizing: border-box;
    /* Opera */
    box-sizing: border-box; }

  /**
   * ui_article_list
   */
  .ui_article_list {
    min-height: 650px;
    position: relative;
    padding: 20px;
    background-color: #ffffff;
    -moz-box-shadow: -2px 0 5px #B3B3B3, 0 -2px 5px #B3B3B3, 0 2px 5px #B3B3B3, 2px 0 5px #B3B3B3;
    /* Gecko browsers */
    -webkit-box-shadow: -2px 0 5px #B3B3B3, 0 -2px 5px #B3B3B3, 0 2px 5px #B3B3B3, 2px 0 5px #B3B3B3;
    /* Webkit browsers */
    -ms-box-shadow: -2px 0 5px #B3B3B3, 0 -2px 5px #B3B3B3, 0 2px 5px #B3B3B3, 2px 0 5px #B3B3B3;
    /* IE 9 */
    -o-box-shadow: -2px 0 5px #B3B3B3, 0 -2px 5px #B3B3B3, 0 2px 5px #B3B3B3, 2px 0 5px #B3B3B3;
    /* Opera */
    box-shadow: -2px 0 5px #B3B3B3, 0 -2px 5px #B3B3B3, 0 2px 5px #B3B3B3, 2px 0 5px #B3B3B3;
    -moz-animation-duration: 600ms;
    /* Gecko browsers */
    -webkit-animation-duration: 600ms;
    /* Webkit browsers */
    -ms-animation-duration: 600ms;
    /* IE 9 */
    -o-animation-duration: 600ms;
    /* Opera */
    animation-duration: 600ms;
    -moz-animation-timing-function: ease-in-out;
    /* Gecko browsers */
    -webkit-animation-timing-function: ease-in-out;
    /* Webkit browsers */
    -ms-animation-timing-function: ease-in-out;
    /* IE 9 */
    -o-animation-timing-function: ease-in-out;
    /* Opera */
    animation-timing-function: ease-in-out;
    -moz-animation-name: to_article;
    /* Gecko browsers */
    -webkit-animation-name: to_article;
    /* Webkit browsers */
    -ms-animation-name: to_article;
    /* IE 9 */
    -o-animation-name: to_article;
    /* Opera */
    animation-name: to_article; }

  .page_group {
    position: relative; }
    .page_group .btn {
      position: absolute;
      display: none; }
    .page_group .btn:nth-child(1) {
      display: inline-block;
      left: 0; }
    .page_group .btn:nth-last-child(1) {
      display: inline-block;
      right: 0; }

  .ui_article_title h3 {
    font-size: 18px; }
    .ui_article_title h3 a {
      white-space: pre-line;
      word-break: break-all;
      letter-spacing: 0px; }

  .ui_article_body h1 {
    font-size: 18px; }
  .ui_article_body h2 {
    padding: 2px 0;
    font-size: 16px; }
  .ui_article_body h3 {
    font-size: 14px; }
  .ui_article_body h4, .ui_article_body h5, .ui_article_body h6, .ui_article_body p {
    font-size: 12px; } }

/*# sourceMappingURL=common.css.map */
