/**
 * @author [townmi]
 * @date [2015-08-01]
 */

/**
 * body
 */

html, body{
    background: rgb(233, 233, 233);
    font: 100 14px/24px "Microsoft Yahei";
}
.background_blur #marsk{
    /*display: block;*/
}
/**
 * linnk
 */
.ui_link{
    text-decoration: none;
}
.ui_link:hover{
    text-decoration: underline;
}
/**
 * ui_content
 */
.ui_content{
    width: 1200px;
    margin: 0 auto;
}

@-webkit-keyframes bars {
    0% {}
    100% {-webkit-transform: rotate(45deg);}
}
@-moz-keyframes bars {
    0% {}
    100% {-moz-transform: rotate(45deg);}
}
@-ms-keyframes bars {
    0% {}
    100% {-ms-transform: rotate(45deg);}
}
@keyframes bars {
    0% {}
    100% {transform: rotate(45deg); }
}

@-webkit-keyframes bars_before {
    0% {}
    100% {-webkit-transform: rotate(-90deg); margin-bottom: -30%; width: 100%;}
}
@-moz-keyframes bars_before {
    0% {}
    100% {-moz-transform: rotate(-90deg); margin-bottom: -30%; width: 100%;}
}
@-ms-keyframes bars_before {
    0% {}
    100% {-ms-transform: rotate(-90deg); margin-bottom: -30%; width: 100%;}
}
@keyframes bars_before {
    0% {}
    100% {transform: rotate(-90deg); margin-bottom: -30%; width: 100%;}
}

@-webkit-keyframes bars_after {
    0% {opacity: 0;}
    100% {opacity: 0;}
}
@-moz-keyframes bars_after {
    0% {opacity: 0;}
    100% {opacity: 0;}
}
@-ms-keyframes bars_after {
    0% {opacity: 0;}
    100% {opacity: 0;}
}
@keyframes bars_after {
    0% {opacity: 0;}
    100% {opacity: 0;}
}

@-webkit-keyframes bars_from {
    0% {-webkit-transform: rotate(-45deg);}
    100% {}
}
@-moz-keyframes bars_from {
    0% {-moz-transform: rotate(-45deg);}
    100% {}
}
@-ms-keyframes bars_from {
    0% {-ms-transform: rotate(-45deg);}
    100% {}
}
@keyframes bars_from {
    0% {transform: rotate(-45deg);}
    100% {}
}

@-webkit-keyframes bars_before_from {
    0% {-webkit-transform: rotate(90deg); margin-bottom: -30%; width: 100%;}
    100% {}
}
@-moz-keyframes bars_before_from {
    0% {-moz-transform: rotate(90deg); margin-bottom: -30%; width: 100%;}
    100% {}
}
@-ms-keyframes bars_before_from {
    0% {-ms-transform: rotate(90deg); margin-bottom: -30%; width: 100%;}
    100% {}
}
@keyframes bars_before_from {
    0% {transform: rotate(90deg); margin-bottom: -30%; width: 100%;}
    100% {}
}

@-webkit-keyframes bars_after_fromm {
    0% {opacity: 0; }
    98% {opacity: 0;}
    100% {opacity: 1;}
}
@-moz-keyframes bars_after_fromm {
    0% {opacity: 0; }
    98% {opacity: 0;}
    100% {opacity: 1;}
}
@-ms-keyframes bars_after_fromm {
    0% {opacity: 0; }
    98% {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes bars_after_fromm {
    0% {opacity: 0; }
    98% {opacity: 0;}
    100% {opacity: 1;}
}

@-webkit-keyframes to_article{
    0% {top: 150px;}
    100% {top: 0;}
}
@-moz-keyframes to_article{
    0% {top: 150px;}
    100% {top: 0;}
}
@-ms-keyframes to_article{
    0% {top: 150px;}
    100% {top: 0;}
}
@keyframes to_article{
    0% {top: 150px;}
    100% {top: 0;}
}

/**
 * container
 */
#container {
    width: 100%;
    height: 100vh; 
    position: relative;
    overflow: hidden;
}

#canvas {
    width: 100%;
    height: 100%;
    position: relative;
}
#nav {
    width: 100%;
    height: 300px;
    background: #313848;
    position: absolute;
    left: 0;
    top: -300px;
    z-index: 2;
    overflow-y: auto;
    box-sizing: border-box;
    -webkit-transition: .5s cubic-bezier(1, 0.02, 0.38, 0.82) all;
    -moz-transition: .5s cubic-bezier(1, 0.02, 0.38, 0.82) all;
    -o-transition: .5s cubic-bezier(1, 0.02, 0.38, 0.82) all;
    transition: .5s cubic-bezier(1, 0.02, 0.38, 0.82) all;

}
#container.display_nav #nav {
    top: 0;
    -webkit-transform: translateY(44px);
    -moz-transform: translateY(44px);
    -ms-transform: translateY(44px);
    -o-transform: translateY(44px);
    transform: translateY(44px);
}


/**
 * nav
 */
nav{
    position: fixed;
    z-index: 2;
    width: 100%;
    height: 44px;
    background-color: #3F51B5;
    /*-webkit-box-shadow: 0 3px 5px #888888;
    box-shadow: 0 3px 5px #888888;*/
}

nav .ui_title{
    width: 50%;
    position: absolute;
    left: 25%;
    text-align: center;
    font: 100 20px/44px "Microsoft Yahei";
    color: #ffffff;
    overflow: hidden;

}
.toggle_nav {
    position: absolute;
    left: 50%;
    top: 3px;
    height: 38px;
    margin-left: 570px;
    cursor: pointer;
}
#bars {
    display: block;
    width: 30px;
    height: 3px;
    background: #eee;
    position: relative;
    top: 50%;
    margin-top: -2px;
    animation-duration: 300ms;
    animation-timing-function: ease-in-out;
}
#bars:before, #bars:after {
    display: block;
    width: inherit;
    height: 3px;
    position: absolute;
    background: inherit;
    left: 0;
    content: '';
    animation-duration: 300ms;
    animation-timing-function: ease-in-out;
}

#bars:before {
    bottom: 300%;
    /*transform: rotate(-90deg); margin-bottom: -30%; width: 100%;*/
}

#bars:after {
    top: 300%;
}
#bars.to_arrow {
    animation-name: bars;
    animation-fill-mode: forwards;
}

#bars.to_arrow:before {
    animation-name: bars_before;
    animation-fill-mode: forwards;
}

#bars.to_arrow:after {
    animation-name: bars_after;
    animation-fill-mode: forwards;
}

#bars.from_arrow {
    animation-name: bars_from;
}
#bars.from_arrow:before {
    animation-name: bars_before_from;
}

#bars.from_arrow:after {
    animation-name: bars_after_fromm;
}



/**
 * side--nav
 */

#nav{
    padding: 20px 0 0 40px;
}

.ui_nav_block{
    width: 300px;
    position: absolute;
    right: 50%;
    margin-right: 300px;
}
.ui_nav_block h2{
    font: 100 24px/30px "Microsoft Yahei";
    color: #f5f5f5;
    padding: 0 0 10px 0;
}

.ui_nav_category{
    height: 230px;
}
.ui_nav_category li{
    width: 150px;
    float: left;
}
.ui_nav_category .ui_link{
    color: #f5f5f5;
    padding: 2px;
}


.ui_share{
    width: 200px;
    padding-top: 40px;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: 400px;
    color: #ffffff;
}
.ui_share_link{
    color: #ffffff;
    font-size: 24px;
}

/**
 * content
 */
.content{
    height: inherit;
    overflow-y: auto;
    padding-top: 88px;
}
/**
 * ui_article_list
 */
.ui_article_list{
    min-height: 650px;
    position: relative;
    padding: 50px;
    background-color: #ffffff;
    -webkit-box-shadow: -2px 0 5px #B3B3B3,0 -2px 5px #B3B3B3,0 2px 5px #B3B3B3,2px 0 5px #B3B3B3;
    box-shadow: -2px 0 5px #B3B3B3,0 -2px 5px #B3B3B3,0 2px 5px #B3B3B3,2px 0 5px #B3B3B3;
    
    animation-duration: 600ms;
    animation-timing-function: ease-in-out;
    animation-name: to_article;
}



.ui_article{
    position: relative;
    padding-bottom: 25px;
    margin-bottom: 25px;
    border-bottom: 1px solid #eee;
    font-weight: normal;
}

.ui_article_title h3{
    margin: 8px 0;
    font-weight: 400;
    line-height: 1.2;
    font-size: 24px;
}
.ui_article_title h3 a{
    text-decoration: none;
    color: #3F51B5;
}
.ui_article_tags{
    margin-bottom: 8px;
}
.ui_article_tags i{
    font-size: 14px;
}
.ui_article_tags span, .ui_article_tags a{
    font-size: 14px;
    margin: 0 4px;
}
.ui_article_tags span{
    color: #333333;
}
.ui_article_tags a, .ui_article_foot a{
    color: #3F51B5;
    text-decoration: none;
}
.ui_article_foot{
    padding-top: 20px;
    font-size: 16px;
}


















/**
 * footer
 */
footer{
    position: relative;
    width: 100%;
    background: #565a5c;
    color: #bbb;
}

footer .author{
    display: inline-block;
    padding: 20px;
    color: #ffffff;
}
footer .copyright{
    display: inline-block;
    padding: 20px;
    color: #ffffff;
}













/*

Monokai Sublime style. Derived from Monokai by noformnocontent http://nn.mit-license.org/

*/

pre, code {
  margin-top: 0;
  margin-bottom: 0;
  padding: .6em;
  font: 14px Consolas, "Liberation Mono", Menlo, Courier, monospace;
  border-radius: 5px;
  overflow-x: auto;
}
pre{
  background-color: #23241f;
}
.prettyprint{
  padding: 1px 4px;
  color: #ffffff;
  background-color: #23241f;
}
.hljs {
  display: inline-block;
  padding: 0.2em;
  background: #23241f;
  -webkit-text-size-adjust: none;
}

.hljs,
.hljs-tag,
.css .hljs-rules,
.css .hljs-value,
.css .hljs-function
.hljs-preprocessor,
.hljs-pragma {
  color: #f8f8f2;
}

.hljs-strongemphasis,
.hljs-strong,
.hljs-emphasis {
  color: #a8a8a2;
}

.hljs-bullet,
.hljs-blockquote,
.hljs-horizontal_rule,
.hljs-number,
.hljs-regexp,
.alias .hljs-keyword,
.hljs-literal,
.hljs-hexcolor {
  color: #ae81ff;
}

.hljs-tag .hljs-value,
.hljs-code,
.hljs-title,
.css .hljs-class,
.hljs-class .hljs-title:last-child {
  color: #a6e22e;
}

.hljs-link_url {
  font-size: 80%;
}

.hljs-strong,
.hljs-strongemphasis {
  font-weight: bold;
}

.hljs-emphasis,
.hljs-strongemphasis,
.hljs-class .hljs-title:last-child {
  font-style: italic;
}

.hljs-keyword,
.hljs-function,
.hljs-change,
.hljs-winutils,
.hljs-flow,
.nginx .hljs-title,
.tex .hljs-special,
.hljs-header,
.hljs-attribute,
.hljs-symbol,
.hljs-symbol .hljs-string,
.hljs-tag .hljs-title,
.hljs-value,
.alias .hljs-keyword:first-child,
.css .hljs-tag,
.css .unit,
.css .hljs-important {
  color: #f92672;
}

.hljs-function .hljs-keyword,
.hljs-class .hljs-keyword:first-child,
.hljs-constant,
.css .hljs-attribute {
  color: #66d9ef;
}

.hljs-variable,
.hljs-params,
.hljs-class .hljs-title {
  color: #f8f8f2;
}

.hljs-string,
.css .hljs-id,
.hljs-subst,
.hljs-type,
.ruby .hljs-class .hljs-parent,
.hljs-built_in,
.django .hljs-template_tag,
.django .hljs-variable,
.smalltalk .hljs-class,
.django .hljs-filter .hljs-argument,
.smalltalk .hljs-localvars,
.smalltalk .hljs-array,
.hljs-attr_selector,
.hljs-pseudo,
.hljs-addition,
.hljs-stream,
.hljs-envvar,
.apache .hljs-tag,
.apache .hljs-cbracket,
.tex .hljs-command,
.hljs-prompt,
.hljs-link_label,
.hljs-link_url {
  color: #e6db74;
}

.hljs-comment,
.hljs-javadoc,
.hljs-annotation,
.hljs-decorator,
.hljs-template_comment,
.hljs-pi,
.hljs-doctype,
.hljs-deletion,
.hljs-shebang,
.apache .hljs-sqbracket,
.tex .hljs-formula {
  color: #75715e;
}

.coffeescript .javascript,
.javascript .xml,
.tex .hljs-formula,
.xml .javascript,
.xml .vbscript,
.xml .css,
.xml .hljs-cdata,
.xml .php,
.php .xml {
  opacity: 1;
}
