<!doctype html>
<html lang="en">
<head>

	<title>出错啦！</title>

	<style>
	body{
		height: 100%;
		width: 100%;
		text-align: center;
	}
	</style>
</head>
<body>
	<a href="/" class="ui_target">返回首页</a>

	<% console.log(message) %>
	<h2><%= message  %></h2>

	<div style="display: none;">
	</div>
</body>
</html>