<!-- foot -->
	<div class="ui_foot_bg">
		<div class="ui_foot">
			<span style="color: #80bd01;">Powered by</span>
			<a href="http://nodejs.org/" target="_blank" class="node_js">NodeJs</a>
			&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: #3686be;">Running on</span>
			<a href="https://www.digitalocean.com/?refcode=a6eac0a0fc83" target="_blank" class="digitalocean">Digitalocean</a>
			<a href="https://github.com/townmi" class="fr" style="margin-left: 20px;" target="_blank">github</a>
			<a href="http://weibo.com/3699200532" class="fr" target="_blank">weibo</a>
		</div>
	</div>
	<!-- foot over -->