<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <%- art %>
    <p>Welcome to <%= title %></p>
  </body>
</html>
