<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<link rel='stylesheet' href='/css/style.css' />
</head>
	<body>
		<h2><%= title%></h2>
		<div>
			<%= myart %>
			
		</div>
	</body>
</html>
