<!DOCTYPE html>
<html lang="en" class="ui_login">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="townmi">
    <title>登陆|博客后台管理</title>
    <link href=<%- '"'+viewList.basePath+'css/bootstrap.min.css"' %> rel="stylesheet">
    <link href=<%- '"'+viewList.basePath+'css/admin.css"' %> rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="ui_login">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title fn-ms" style="text-align:center;">欢迎博客CMS系统</h3>
                    </div>
                    <div class="panel-body">
                        <form role="form">
                            <fieldset>
                                <div class="form-group">
                                    <input value="admin" id="js_username" class="form-control" placeholder="请输入用户名" name="username" type="text" autofocus>
                                </div>
                                <div class="form-group">
                                    <input value="admin" id="js_password" class="form-control" placeholder="请输入密码" name="password" type="password">
                                </div>
                                <div class="checkbox fn-ms">
                                    <label>
                                        <input name="remember" type="checkbox" value="Remember Me" checked>下次自动登录
                                    </label>
                                </div>
                                <!-- Change this to a button or input when using this as a form -->
                                <a id="js_login" href="javascript:;" class="btn btn-danger btn-block fn-ms" style="font-size: 16px;">登&nbsp;&nbsp;录</a>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
    <!-- Scripts -->
    <script src=<%- '"'+viewList.basePath+'js/jquery-2.1.4.min.js"' %>></script>
    <script type="text/javascript">
        $(function () {
            $("#js_login").on("click touchstart", function () {

                var username = $.trim( $("#js_username").val() );
                var password = $.trim( $("#js_password").val() );

                if(!username || !password) return alert("用户名或者密码不能为空！");

                $.ajax({
                    type: "post",
                    url: "/admin/login",
                    data: {
                        "username" : username,
                        "password": password
                    },
                    dataType: "json",
                    success: function (data){
                        if(data.success){
                            window.location.href = "/admin";
                        }else{
                            console.log(data);
                            alert(data.msg);
                        }
                    },
                    error: function (err){
                        console.log(err);
                        alert("网络服务出错，请稍后再试！！");
                    }
                });

            });
        });
    </script>
</html>