<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta http-equiv="content-type" content="text/html;charset=utf-8">
	<meta name="keywords" content="汤海祥, towne, townmi" />
	<meta name="description" content="汤海祥的个人网站"/>
	<title><%= title %></title>
	<link rel="stylesheet" type="text/css" href="../css/reset.css">
	<link rel="stylesheet" type="text/css" href="../css/monokai.css">
</head>
<body>
	<form action="">
		<p>
			<label for="name">name</label>
			<input type="text" id="name">
		</p>
		<p>
			<label for="password"></label>
			<input type="text" id="password">
		</p>
		

	</form>
</body>
</html>