<!doctype html>
<html lang="en">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta http-equiv="content-type" content="text/html;charset=utf-8">
	<meta name="keywords" content="汤海祥, towne, townmi" />
	<meta name="description" content="汤海祥的个人网站"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title><%= title %></title>
	<link rel="stylesheet" type="text/css" href="../css/reset.css">

	<link rel="stylesheet" type="text/css" href="../css/bootstrap.css">

	<link rel="stylesheet" type="text/css" href="../css/bootstrap-theme.css">

	<style type="text/css">
	.control-label-slim{
		font-size: 16px;
		font-weight: 200;
	}
	.btn-slim{
		font-size: 16px;
		font-weight: 200;
	}

	</style>
</head>
<body>

	<div class="container">
		<div class="col-md-3 col-sm-2"></div>
		<div class="col-md-6 col-sm-8">
			<form action="" class="form-horizontal">
				<div class="form-group" style="margin-bottom: 30px;">
					<label for="name" class="col-sm-3 control-label control-label-slim">用户名:</label>
					<div class="col-sm-7">
						<input type="text" id="name" class="form-control" placeholder="用户名" required autofocus data-container="body" data-toggle="popover" data-placement="right">
					</div>
				</div>
				<div class="form-group" style="margin-bottom: 30px;">
					<label for="password" class="col-sm-3 control-label control-label-slim">密码:</label>
					<div class="col-sm-7">
						<input type="password" id="password" class="form-control" placeholder="密码" required data-container="body" data-toggle="popover" data-placement="right">
					</div>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-0" ></div>
				<% if(title === "注册"){ %>
				<a class="btn col-md-7 btn-default btn-slim col-sm-7 col-xs-12" id="js_reg" ><%= title %></a>
				<% }else{ %>
				<a class="btn col-md-7 btn-primary btn-slim col-sm-7 col-xs-12" id="js_login" ><%= title %></a>
				<% } %>
			</form>
		</div>
	
	</div>

	<!-- foot -->
	<div class="container" id="js_foot">
		<div class="ui_foot">
			<span style="color: #80bd01;">Powered by</span>
			<a href="http://nodejs.org/" target="_blank" class="node_js">NodeJs</a>
			&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: #3686be;">Running on</span>
			<a href="https://www.digitalocean.com/" target="_blank" class="digitalocean">Digitalocean</a>
			<a href="" class="fr">github</a>
			<a href="" class="fr">weibo</a>
		</div>
	</div>
	<!-- foot over -->

</body>
<script type="text/javascript" src="../js/src/jquery.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script type="text/javascript">

	

	$("#js_reg").on("click", function(){

		if(!$("#name").val() || !$("#password").val()) return;

		$.ajax({
			type: "post",
			url: "/reg",
			data: {
				"name": $("#name").val(),
				"password": $("#password").val()
			},

			dataType: "json",

			success: function (data){
				if(data.resCode === 0){

					$('#name').attr({"data-content": data.title}).popover("show").unbind("click").parent().addClass("has-error");

				}else if(data.resCode === 1){

					$('#name').popover("destroy").parent().removeClass("has-error").addClass("has-success");

					$('#password').attr({"data-content": data.title}).popover("show").unbind("click").parent().addClass("has-error");

				}else if(data.resCode === 2){

					$('#password').popover("destroy").parent().removeClass("has-error").addClass("has-success");

					$('#name').attr({"data-content": data.title}).popover("show").unbind("click").parent().addClass("has-error");

				}else if(data.resCode === 3){

					window.location.reload();

				}
			},
			error: function (msg){
			   	
			}
		})

	});

	// 登陆

	$("#password").on("keydown", function (e){

		if(e.keyCode === 13){

			$("#js_login").click();

		}

	});

	$("#js_login").on("click", function(){

		if(!$("#name").val() || !$("#password").val()) return;

		$.ajax({
			type: "post",
			url: "/login",
			data: {
				"name": $("#name").val(),
				"password": $("#password").val()
			},

			dataType: "json",

			success: function (data){
				if(data.resCode === 0){

					$('#name').attr({"data-content": data.title}).popover("show").unbind("click").parent().addClass("has-error");

				}else if(data.resCode === 1){

					$('#name').popover("destroy").parent().removeClass("has-error").addClass("has-success");

					$('#password').attr({"data-content": data.title}).popover("show").unbind("click").parent().addClass("has-error");

				}else if(data.resCode === 2){

					$('#password').popover("destroy").parent().removeClass("has-error").addClass("has-success");

					$('#name').attr({"data-content": data.title}).popover("show").unbind("click").parent().addClass("has-error");

				}else if(data.resCode === 3){

					window.location.reload();

				}
			},
			error: function (msg){

				console.log(msg)
			   	
			}
		})

	});

	$(function () {
		$('#name').hover(function(){
			
		})
  		
	})

</script>
<script type="text/javascript">
	$(function (){

    	var TOBOOTOM =  $(window).height() - $("body").height();

	    if( TOBOOTOM>0 ){

	        $("#js_foot").prev().css({"margin-top":TOBOOTOM/2,"margin-bottom":TOBOOTOM/2})
	        
	    }

	})
</script>
</html>