@charset "utf-8";
/* CSS Document */
/*
 * author : towne
 * version : 0.0.2
 * date : 2015.2.6
 *
*/

.ui_calendar_box{
	width: 230px;
	font-family: Arial;
	position: absolute;
	left: 0;
	top: 10px;
}
/*title*/
.ui_calendar_title{
	text-align: center;
	height: 43px;
	line-height: 43px;
	width: 100%;
	background-color: #cc0000;
	position: relative;
	font-size: 14px;
	color: #ffffff;
}
.ui_calendar_title .ui_prev_year, .ui_calendar_title .ui_next_year, .ui_calendar_title .ui_prev_month, .ui_calendar_title .ui_next_month{
	width: 40px;
	height: 43px;
	position: absolute;
	top: 0
}
.ui_calendar_title .ui_prev_month, .ui_calendar_title .ui_next_month{
 	width: 35px;
}
.ui_calendar_title .ui_prev_year{
	left: 0;
	background: url(../images/l_0.png) 15px 16px no-repeat;
	border-right: 1px solid #bf0000;
}
.ui_calendar_title .ui_prev_month{
	left: 41px;
	background: url(../images/l_0.png) 15px 16px no-repeat;
	border-left: 1px solid #d52e2e;
}
.ui_calendar_title .ui_next_month{
	right: 41px;
	background: url(../images/r_0.png) 15px 16px no-repeat;
	border-right: 1px solid #d52e2e;
}
.ui_calendar_title .ui_next_year{
	right: 0;
	background: url(../images/r_0.png) 15px 16px no-repeat;
	border-left: 1px solid #bf0000;
}
.ui_calendar_title .ui_prev_year:hover, .ui_calendar_title .ui_prev_month:hover{
	background: url(../images/l_1.png) 15px 16px no-repeat;
}
.ui_calendar_title .ui_next_year:hover, .ui_calendar_title .ui_next_month:hover{
	background: url(../images/r_1.png) 15px 16px no-repeat;
}
.ui_calendar_body{
	background-color: #fbf8f1;
	padding-bottom: 17px;
}
.ui_calendar_body .ui_day{
	padding: 13px 17px 0 17px;
	text-align: center;
	font-family: "Microsoft Yahei";
}
.ui_calendar_body .ui_day span{
	width: 28px;
	height: 28px;
	line-height: 28px;
	float: left;
}
.ui_calendar_body .ui_date{
	padding: 0 17px;
	text-align: center;
}
.ui_calendar_body .ui_date a{
	width: 28px;
	height: 28px;
	line-height: 28px;
	float: left;
	color: #593442;
}
.ui_calendar_body .ui_date a.ui_today{
	background-color: #cc0000;
	color: #ffffff;
}
.ui_calendar_body .ui_date a:hover{
	background-color: #cc0000;
	color: #ffffff;
}
.ui_calendar_body .ui_date a.ui_prev_month_date, .ui_calendar_body .ui_date a.ui_next_month_date{
	color: #cccccc;
}
.ui_calendar_body .ui_date a.ui_prev_month_date:hover, .ui_calendar_body .ui_date a.ui_next_month_date:hover{
	color: #cccccc;
	background-color: #fbf8f1;
}
.ui_main{
	width: 600px;
	height: 500px;
	padding: 345px 289px 0 213px;
	position: relative;
	left: 100px;
}
.ui_main2{
	padding-top: 203px;
	padding-left: 23px;
}