@charset "utf-8";
/* CSS Document */
/*
 * author : towne
 * version : 0.0.1
 * date : 2015.1.22
 *
*/
body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,blockquote,legend,input,textarea,select{
	margin: 0;
	padding: 0;
	font-weight: 200;
}
table{
	border-collapse: collapse;
	border-spacing: 0;
}
li{
	list-style: none;
}
p{
	word-wrap: break-word;
	line-height: 30px;
}
a{
	text-decoration: none;
	color: #333333;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}
a:hover{
	text-decoration: none;
}
em{
	font-style: normal;
}
img{
	border: 0;
	vertical-align: top;
}
input{
	outline: none;
	font: inherit;
}
*:focus {
	outline: none;
} 
textarea{
	resize: none;
	overflow: auto;
	outline: none;
}
body{
	position: relative;
	font: 14px "Microsoft Yahei", "Arial Narrow", HELVETICA;
	background-color: #ededed;
	-webkit-text-size-adjust: 100%;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.clear:after{
	content: '';
	display: block;
	clear: both;
}
.clear{
	zoom: 1;
}
.ui_global_progress_bg{
	height: 4px;
	background-color: #ff4455;
}
.ui_global_progress{
	width: 10%;
	height: 100%;
	background-color: #00EF43;
}
.ui_head_bg{
	height: 30px;
	background: -webkit-linear-gradient(top, #ebe9e8, #dbd9d8);
	background: -moz-linear-gradient(top, #ebe9e8, #dbd9d8);
	background: -ms-linear-gradient(top, #ebe9e8, #dbd9d8);
	background: linear-gradient(top, #ebe9e8, #dbd9d8);
}
.ui_head{
	width: 960px;
	height: 100%;
	padding: 0 20px;
	margin: 0 auto;
	background: -webkit-linear-gradient(top, #ebe9e8, #dbd9d8);
	background: -moz-linear-gradient(top, #ebe9e8, #dbd9d8);
	background: -ms-linear-gradient(top, #ebe9e8, #dbd9d8);
	background: linear-gradient(top, #ebe9e8, #dbd9d8);
	text-align: right;
}
.ui_head a{
	font: 14px/30px "Microsoft Yahei";
	color: #aaaaaa;
}
.ui_head a:hover{
	color: #3d3d3d;
}
.ui_center{
	width: 1000px;
	padding: 20px 0;
	margin: 0 auto;
	background-color: #ffffff;
}
.ui_article{
	width: 700px;
	border-right: 1px solid #ccc;
}
.ui_sidebox{
	width: 299px;
	position: relative;
}
.ui_side{
	width: 280px;
	padding-left: 20px;
}
.ui_categories{
	padding: 10px 70px 10px 0;
}
.ui_categories li{
	border-bottom: 1px dashed #e4e4e4;
}
.ui_categories li a{
	width: 190px;
	display: inline-block;
	padding: 2px 0;
	line-height: 24px;
	padding-left: 20px;
	background: url(../images/1.png) no-repeat 6px 10px;
}
.ui_categories li h3{
	padding-bottom: 6px;
}
.ui_categories a:hover,  .ui_categories a:focus{
	color: #ffffff;
	background-color: #333333;
	background-position: 6px -12px;
}

.ui_art_list{
	padding: 20px;
}
.ui_art_list_one{
	width: 100%;
	padding-bottom: 25px;
	border-bottom: 1px dashed #eaeaea;
}
.ui_art_head{
	
}
.ui_art_title{
	display: block;
	font-size: 22px;
	line-height: 32px;
}
.ui_art_title a{
	color: #cc5500;
}
.ui_targets{
	line-height: 24px;
	padding: 10px 0;
}
.ui_target{
	padding: 0 10px;
	display: inline-block;
	background-color: #e4e4e4;
	border-radius: 3px;
	vertical-align: middle;
}
.ui_target:hover, .ui_target:focus{
	background-color: #333333;
	color: #ffffff;
}




.ui_share{
	margin-left: 15px;
	position: relative;
}
.ui_share span{
	padding: 0 15px 0 25px;
	display: inline-block;
	line-height: 24px;
	border-radius: 4px;
	background-color: #e4e4e4;
	background-size: 12px 12px;
	background-image: url(../images/3.png);
	background-repeat: no-repeat;
	background-position: 5px center;
	cursor: pointer;
}
.ui_share span:hover{
	background-image: url(../images/4.png);
	color: #ffffff;
	background-color: #ff5500;
}
.ui_share_list{
	position: absolute;
	top: 24px;
	left: 0;
	background-color: #ffffff;
	border-radius: 4px;
	overflow: hidden;
	display: none;
}
.ui_share_list li{
	width: 100%;
	float: left;
	padding: 0 20px 0 25px;
	line-height: 24px;
	background-color: #e4e4e4;
	background-repeat: no-repeat;
	white-space: nowrap; 
	cursor: pointer;
}
.ui_share_list li:hover{
	color: #ffffff;
	background-color: #ff5500;

}
.ui_share_list li:nth-child(1){
	background-size: 16px 16px;
	background-image: url(../images/5.png);
	background-position: 5px center;
}
.ui_share_list li:nth-child(2){
	background-size: 20px 16px;
	padding-left: 35px;
	background-image: url(../images/6.png);
	background-position: 5px center;
}
.ui_share_list li:nth-child(3){
	background-size: 20px 18px;
	padding-left: 35px;
	background-image: url(../images/7.png);
	background-position: 5px center;
}
.ui_share_code{
	position: absolute;
	left: 100%;
	top: 0;
	z-index: 999;
	border: 4px solid #ff5500;
	padding: 5px 5px 0 5px;
	background-color: #ffffff;
}

/*body*/
.ui_art_body hr{
	margin: 2px 0;
}
.ui_art_body h1{
	line-height: 36px;
	padding-bottom: 8px;
}
.ui_art_body h2{
	line-height: 32px;
	padding-bottom: 6px;
}
.ui_art_body h3{
	line-height: 28px;
	padding-bottom: 5px;
}
.ui_art_body h4{
	line-height: 24px;
	padding-bottom: 4px;
}
.ui_art_body h5{
	line-height: 20px;
	padding-bottom: 3px;
}
.ui_art_body h6{
	line-height: 16px;
	padding-bottom: 2px;
}
.ui_art_body p{
	text-indent: 2em;
	line-height: 24px;
}
.ui_art_body li{
	line-height: 24px;
}
.ui_art_body p code{
	text-indent: 0;
	margin: 0 5px;
}
.ui_art_body blockquote{
	padding-left: 15px;
	border-left: 5px solid #d4d4d4;
}
.ui_art_body blockquote p{
	text-indent: 0;
}
/*文章尾*/
.ui_art_foot{
	padding-top: 15px;
}
/*功能按钮*/
.ui_func{
	padding: 0 10px;
	line-height: 24px;
	margin-right: 20px;
	float: left;
	background-color: #e4e4e4;
	border-radius: 3px;
}
.ui_func:hover, .ui_func:focus{
	background-color: #333333;
	color: #ffffff;
}
.ui_foot_bg{
	width: 100%;
	background: -webkit-linear-gradient(top, #414141, #313131);
	background: -moz-linear-gradient(top, #414141, #313131);
	background: -ms-linear-gradient(top, #414141, #313131);
	background: linear-gradient(top, #414141, #313131);
	color: #b8b8b8;
	font-size: 22px;
	line-height: 40px;
	font-weight: 100
}
.ui_foot{
	width: 1000px;
	margin: 0 auto;
	background: -webkit-linear-gradient(top, #414141, #313131);
	background: -moz-linear-gradient(top, #414141, #313131);
	background: -ms-linear-gradient(top, #414141, #313131);
	background: linear-gradient(top, #414141, #313131);
}
.ui_foot a{
	color: #b8b8b8;
}
.ui_foot a:hover{
	color: #ffffff;
}
.ui_foot .node_js:hover{
	color: #80bd01;
}
.ui_foot .digitalocean:hover{
	color: #3686be;
}


/*login*/
.ui_login{
	width: 400px;
	margin: 100px auto;
}
.ui_input_line{
	padding: 15px 0;
}
.ui_label{
	width: 20%;
	padding-right: 2%;
	display: inline-block;
	text-align: right;
	vertical-align:top;
}
.ui_input{
	width: 70%;
	height: 20px;
	padding: 5px;
	border: 1px solid #333;
	vertical-align:top;
}

.ui_btn{
	width: 56%;
	height: 42px;
	line-height: 42px;
	display: block;
	margin-left: 23%;
	text-align: center;
	border-radius: 5px;
	background-color: #e7e7e7;
	font-size: 18px;
}
.ui_btn:hover{
	background-color: #333333;
	color: #ffffff;
}

/*edit*/

.ui_base_text{
	width: 50%;
	height: 28px;
	padding: 0 10px;
	line-height: 30px;
	font-size: 14px;
	border-radius: 5px;
	border: 1px solid #cccccc;
	background-color: #ffffff;
	background-image: none;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.ui_base_text:focus{
	border-color: #0E75C7;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6)
}
.ui_text_error{
	border-color: red;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.ui_text_error:focus{
	border-color: red;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(233, 102, 102, .6)
}
.ui_text_success{
	border-color: green;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.ui_text_success:focus{
	border-color: green;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(8, 103, 13, .6)
}
.ui_edit_in{
	width: 48%;
	padding-left: 1%;
}
.ui_edit_tags li{
	padding: 10px;
}

.ui_edit_out{
	width: 48%;
	height: 695px;
	padding: 10px 0.5%;
	padding-top: 135px;
	background-color: #ffffff;
	overflow: scroll;
}
.ui_edit_content{
	padding: 10px;
}
.ui_edit_content label{
	line-height: 24px;
	padding-bottom: 10px;
	display: block;
}
.ui_edit_submit{
	text-align: center;
	padding: 10px 0;
}
.ui_edit_submit a{
	width: 30%;
	line-height: 32px;
	border-radius: 5px;
	display: inline-block;
	font-size: 20px;
	background-color: #e4e4e4;
	color: #333333;
}
.ui_edit_submit a:hover, .ui_edit_submit a:focus{
	background-color: #333333;
	color: #ffffff;
}
/*pages*/
.ui_pages{
	padding: 10px 20px;
	text-align: center;
}
.ui_pages a{
	border-radius: 3px;
	margin: 0 3px;
	background-color: #e4e4e4;
	color: #333333;
	cursor: pointer;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}
.ui_pages a.active{
	background-color: #333333;
	color: #ffffff;
}
.ui_pages_prev, .ui_pages_next{
	width: 70px;
	font-size: 14px;
	line-height: 24px;
}
.ui_pages a:hover, .ui_pages a:focus{
	background-color: #333333;
	color: #ffffff;
};


/*duoshuo*/
.ds-meta, .ds-comments-info, .ds-powered-by, .ds-post-repost{
	display: none;
}
.ds-header{
	font-weight: 100;
}
.ds-thread{
	padding-top: 20px;
	padding: 20px;
}



/*tip*/
.ui_tip{
	padding: 3px 6px;
	position: absolute;
	border-radius: 5px;
	border: 1px solid #0E75C7;
	background-color: #ffffff;
}
.ui_tip .ui_content{
	line-height: 24px;
	display: inline-block;
}
.ui_tip .ui_arrow, .ui_tip .ui_arrow:after{
	position: absolute;
	display: block;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
	box-sizing: border-box;
}
.ui_tip .ui_arrow{
	border-width: 8px;
}
.ui_tip .ui_arrow:after{
	content: "";
	border-width: 7px;
}
.ui_tip .right{
	left: -8px;
	top: 50%;
	margin-top: -8px;
	border-right-color: #00589E;
	border-left-width: 0;
}
.ui_tip .right:after{
	bottom: -7px;
	left: 1px;
	border-right-color: #fff;
	border-left-width: 0;
}
.ui_tip .left{
	border-width: 8px;
	top: 50%;
	right: -8px;
	margin-top: -8px;
	border-left-color: #00589E;
	border-right-width: 0;
}
.ui_tip .left:after{
	top: -7px;
	left: -8px;
	border-left-color: #ffffff;
	border-right-width: 0;
}
.ui_tip .top{
	border-width: 8px;
	left: 50%;
	bottom: -8px;
	margin-left: -8px;
	border-top-color: #00589E;
	border-bottom-width: 0;
}
.ui_tip .top:after{
	top: -8px;
	left: -7px;
	border-top-color: #ffffff;
	border-bottom-width: 0;
}
.ui_tip .bottom{
	border-width: 8px;
	left: 50%;
	top: -8px;
	margin-left: -8px;
	border-bottom-color: #00589E;
	border-top-width: 0;
}
.ui_tip .bottom:after{
	bottom: -8px;
	left: -7px;
	border-bottom-color: #ffffff;
	border-top-width: 0;
}
/*失效的UI*/
.desabled{
	background-color: #777777;
	color: #eeeeee;
}
.desabled:hover{
	background-color: #777777;
	color: #eeeeee;
}