ul{
	padding: 0;
	list-style: none;
}
h1, h2, h3, h4, h5, h6, p{
	font: 200 14px/24px "Microsoft Yahei";
}
h1{
	font-size: 30px;
}
h2{
	font-size: 30px;
}
h3{
	font-size: 24px;
}
h4{
	font-size: 18px;
}
h5{
	font-size: 14px;
}
h6{
	font-size: 12px;
}
.container .row{
	padding-top: 15px;
}
.ui_flow_ul li{
	list-style: none;
	line-height: 32px;
	font-size: 18px;
}

.ui_left_column{
	width: 15%;
	position: fixed;
	height: 100%;
	border-right: 1px solid #ccc;
	line-height: 18px;
	font-size: 13px;
	display: flex;
	flex-flow: column;
}
.ui_right_column{
	margin-left: 18%;
}
#api_tree{
	position: relative;
	top: 50px;
	background: linear-gradient( to bottom, #FFF, #FFF 50%, #EDF3FE 50%, #EDF3FE );
	background-size: 100% 60px;
	overflow: auto;
	height: 100%;
	background-attachment: local;
	list-style-type: none;
}
#api_tree>li>a{
	padding-left: 9%;
}
#api_tree li{
	padding: 0;
	margin: 0;
	list-style-type: none;
}
#api_tree li a{
	display: block;
	height: 30px;
	line-height: 30px;
	text-decoration: none;
	color: #333333;
}
#api_tree a:hover{
	background-color: #eeeeee;
}
.ui_second_level a{
	padding-left: 18%;
}
#api_tree .active .fa-plus:before{
	content: "\f068";
}
#api_tree .fa{
	font-weight: 100;
}
.ui_list li{
	padding-bottom: 5px;
}